<!-- <header class="pb-3 mb-4 border-bottom"> -->
<header>

<div class="pb-3 mb-2 border-bottom">
    <a href="/" class="d-flex align-items-center text-light text-decoration-none">
      <span class="fs-4">{{ configs.appName }}</span>
    </a>
</div>
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start border-bottom pb-2">

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><a href="/" class="nav-link px-2 text-white" style="padding-left: 0rem !important;">Home</a></li>
  <!-- <li><a href="/about" class="nav-link px-2 text-secondary">About</a></li> -->
  <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
  <li><a href="#" class="nav-link px-2 text-primary">Learn more</a></li>
</ul>

<button type="button" class="btn btn-primary ">
  <form method="post" action="/result/" enctype="multipart/form-data" id="form" class="">
    <label class="custom-file-upload custom-file-label">
      <input type="file" name="file" id="file" class="cusom-file-input" autocomplete="off" required="">
      Upload a Chest X-Ray
    </label>
  </form>
</button>

</div>
</header>
