{% extends 'base.html' %}
{% block main %}

<!-- <div class="d-flex h-100 w-100"> -->
<header class="pb-3 mb-2 border-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      <li><a href="#" class="nav-link px-2 text-primary">Learn more</a></li>
    </ul>

  </div>
</header>

<section class="py-4 text-center container text-white">
<!-- <section class="text-center container text-white d-flex" style="display: block; margin-top: auto; margin-bottom: auto;"> -->
<!-- <section class="text-center container text-white d-flex" style="display: block; margin: auto;"> -->
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <h1 class="fw-light">{{ configs.appName }}</h1>
      <hr />
      <div class="text-start">
  		  <p class="lead text-muted">use images of JPG, PNG or DCM format and above 224x224px size, don't use photographs of XR.</p >
  		  <p class="lead text-muted">reportable pathologies: <code>Pneumonia, Other opacities (not specified).</code></p>
  		  <p class="lead text-muted">P.S. This app is primarily powered by boredom and has zero(<code>0</code>) diagnostic value.</p>
      </div>
      <!-- <hr /> -->
      <div>
        {%for i in get_flashed_messages()%}
        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert"> -->
        <!-- <div class="alert alert-warning" role="alert"> -->
        <div class="alert alert-dark" role="alert">
            {{ i }}
        </div>
        {%endfor%}
      </div>
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
        <form method="post" action="/result/" enctype="multipart/form-data" id="form" class="">
          <label class="custom-file-upload custom-file-label">
            <input type="file" name="file" id="file" class="cusom-file-input" autocomplete="off" required="">
            Upload a Chest X-Ray
          </label>
        </form>
      </button>

    </div>
  </div>
</section>
<!-- </div> -->
{% include 'footer.html' %}
{% endblock %}